.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1.5rem;
    align-items: center;
    margin-bottom: 70px;
    
}
@media(max-width:720px){
    body{
        background-color: aqua;
    }
}